.main__about {
  width: 100vw;
  display: flex;
  justify-content: center;
  grid-template: 
    'about avatar'
    'about avatar';
  
  background: var(--color-primary-light);
  color: var(--color-text-in-primary);
}

.main__about .about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}

.main__about .info__title {
  grid-area: about;
  font: 700 3rem Poppins;
}

.main__about .info__description {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: about;
  padding: 1.5rem;
}

.main__about .info__button {
  grid-area: about;
  width: 20rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  transition: .2s;
  
  border-radius: .8rem;
  color: var(--color-text-in-primary);
  background: var(--color-primary);
  text-decoration: none;
}

.main__about .info__button:hover {
  background: var(--color-primary-darker);
}

.main__about .about__avatar {
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
}