:root {
  --color-body: #F2F2F2;
  --color-text-white: #F2F2F2;
  --color-text-black: #4F4F4F;
  --color-background-lighter: #828282;
  --color-background-light: #4F4F4F;
  --color-background-dark: #333333;
  --color-primary-lighter: #45aaf2;
  --color-primary-light: #2D90DB;
  --color-primary: #2F80ED;
  --color-primary-dark: #3867d6;
  --color-secondary: #F2994A;
  --color-secondary-dark: #fa8231;
  --color-border: #E0E0E0;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1.6rem Poppins;
  color: var(--color-text-black);
  background: var(--color-body);
}

.debug {
  border: 1px solid red;
}

#menu {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;

  background: var(--color-background-dark);
  border-bottom: 4px solid var(--color-primary);
}

.menu__social {
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 1.5rem;
}

.social__link img {
  width: 2.6rem;
  transition: .2s;
}

.social__link img:hover {
  filter: invert(100%);
}

.page__link {
  text-decoration: none;
}

.page__link--menu {
  margin: 0 1.5rem;
  
  font: 400 1.6rem Archivo;
  color: var(--color-text-white);
}

#header {
  display: flex;
  justify-content: center;
}

.header__me {
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: gradient 15s ease-in-out infinite;

  background-size: 300%;
  background-image: linear-gradient(
    45deg,
    var(--color-background-light),
    var(--color-primary-lighter),
    var(--color-primary),
    var(--color-border),
    var(--color-background-dark),
    #192a56
  );
}

@keyframes gradient {
  0% { background-position: 0% 50%; }

  50% { background-position: 100% 50%; }

  100% { background-position: 0% 50%; }
}

.me__name {
  margin: 1.6rem 0;

  font: 700 3.5rem Poppins;
  color: var(--color-text-white);
  text-shadow: 1px 1px 2px var(--color-background-dark); 
}

.page__link--header {
  padding: .8rem;
  transition: .2s;

  border-radius: .5rem;
  color: var(--color-text-white);
  background: var(--color-primary-dark);
}

.page__link--header:hover {
  filter: invert(100%);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 80%;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: .8rem 0;

  border: 1px solid var(--color-border);
}

.project__image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;

  background: white;
}

.project__image img{
  width: 100%;
}

.project__details {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem;
  
  background: white;
}

.project__details hr {
  margin: .5rem 0;
}

.details__title {
  font: 700 2.4rem Poppins;
}

.details__description {
  text-align: justify;
}

.project__technologies {
}

.technologies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

.list__item--tech {
  display: block;
  text-decoration: none;
  margin: .5rem;
  padding: .5rem;

  font-size: 1.2rem;
  border-radius: .5rem;
  background: var(--color-primary);
  color: var(--color-text-white);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background-dark);
  border-top: 4px solid var(--color-primary);
  color: var(--color-text-white);
}

.footer__logo {
  width: 1.6rem;
  margin-left: .5rem;
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}