:root {
  --color-text-white: #F2F2F2;
  --color-background-dark: #333333;
  --color-primary-lighter: #56CCF2;
  --color-primary-light: #2D90DB;
  --color-primary: #2F80ED;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1.6rem Poppins;
  background: pink;
}

.debug {
  border: 1px solid red;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;

  background: var(--color-background-dark);
  border-bottom: 4px solid var(--color-primary);
}

.menu__social {
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 .5rem;
}

.social__link img {
  width: 2.6rem;
}

.page__link {
  text-decoration: none;
}

.page__link--menu {
  margin: 0 1.5rem;
  
  font: 400 1.6rem Archivo;
  color: var(--color-text-white);
}

#header {
  display: flex;
  justify-content: center;
}

#header .header__me {
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-primary-light);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__project {
  width: 80%;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: .8rem 0;
}

.project__image {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
}

.project__details {
  width: 60%;
  height: 100%;
  padding: .5rem;

  background: white;
}

.project__title {

}

.project__details hr {
  margin: .5rem 0;
}

.project__description {

}

.technologies__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

.list__item--tech {
  display: block;
  text-decoration: none;
  margin: .5rem;
  padding: .5rem;

  border-radius: .5rem;
  background: var(--color-primary);
  color: var(--color-text-white);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background-dark);
  border-top: 4px solid var(--color-primary);
  color: var(--color-text-white);
}

.footer__logo {
  width: 1.6rem;
  margin-left: .5rem;
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}