:root {
  --color-background:       #F0F0F7;
  
  --color-primary-lighter:  #4bafe9;
  --color-primary-light:    #2D9CDB;
  --color-primary:          #2F80ED;
  --color-primary-dark:     #2370d4;
  --color-primary-darker:   #1065d4;

  --color-secondary-light:  #828282;
  --color-secondary:        #4F4F4F;
  --color-secondary-dark:   #333333;

  --color-green:            #04D361;
  --color-green-dark:       #04BF58;

  --color-title-in-primary: #FFFFFF;

  --color-text-in-primary:  #E0E0E0;
  --color-text-title:       #00367c;
  --color-text-complement:  #9C98A6;
  --color-text-base:        #6A6180;

  --color-line-in-white:    #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text:      #FFFFFF;
  --color-box-base:         #FFFFFF;
  --color-box-footer:       #FAFAFC;
  --color-small-info:       #C1BCCC;

  font-size: 60%; /* Controle das medidas rem */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--color-background);
  display: flex;
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}