:root {
  --color-body: #F2F2F2;
  --color-text-white: #F2F2F2;
  --color-text-black: #4F4F4F;
  --color-background-lighter: #828282;
  --color-background-light: #4F4F4F;
  --color-background-dark: #333333;
  --color-primary-lighter: #45aaf2;
  --color-primary-light: #2D90DB;
  --color-primary: #2F80ED;
  --color-primary-dark: #3867d6;
  --color-secondary: #F2994A;
  --color-secondary-dark: #fa8231;
  --color-border: #E0E0E0;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1.6rem Poppins;
  color: var(--color-text-black);
  background: var(--color-body);
}

#menu {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.menu__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;

  background: var(--color-background-dark);
}

.menu__border {
  width: 100%;
  height: 4px;
  animation: rotate 10s infinite linear;
  background: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-primary-lighter),
    var(--color-border),
    var(--color-primary-lighter),
    var(--color-primary)
  );
}

@keyframes rotate {
  from {
    background-position: 0vw;
  }
  to { 
    background-position: 100vw;
  }
}

.menu__social {
  display: flex;
  align-items: center;
}

.social__link {
  margin: 0 1.5rem;
}

.social__link img {
  width: 2.6rem;
  transition: .2s;
}

.social__link img:hover {
  filter: invert(100%);
}

.page__link {
  text-decoration: none;
  cursor: pointer;
}

.page__link--menu {
  margin: 0 1.5rem;
  transition: .2s;
  
  font: 400 1.6rem Archivo;
  color: var(--color-text-white);
}

.page__link--menu:hover {
  color: var(--color-secondary);
}

#header {
  display: flex;
  justify-content: center;
}

.header__me {
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../assets/images/header_background.jpg');
  background-attachment: fixed;
}

.me__name {
  margin: 1.6rem 0;

  font: 700 3.5rem Poppins;
  color: var(--color-text-white);
  text-shadow: 1px 1px 2px var(--color-background-dark); 
}

.page__link--header {
  padding: .8rem;
  transition: .2s;

  border-radius: .5rem;
  color: var(--color-text-white);
  background: var(--color-primary);
}

.page__link--header:hover {
  filter: invert(100%);
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background-dark);
  border-top: 4px solid var(--color-primary);
  color: var(--color-text-white);
}

.footer__logo {
  width: 1.6rem;
  margin-left: .5rem;
}

.main__about {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
}

.about__title {
  margin-bottom: 1.6rem;

  font: 700 2.4rem Poppins;
}

.about__text {
  text-align: justify;
  font: 400 1.6rem Archivo;
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}