.container__menu {
  width: 100vw;
}

.container__main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}