.menu__container {
  width: 100vw;
}

.content__container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  position: absolute;
  bottom: 0;
  width: 100%;
}