.footer__container .footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 2px solid var(--color-primary);
  background: var(--color-secondary-dark);
}

.footer__container .footer__content .footer__developer {
  color: var(--color-text-in-primary);
}

.footer__container .footer__content .footer__logo {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}