.header {
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background: var(--color-secondary-dark);
  border-bottom: 2px solid var(--color-primary);
}

.header__social {
  display: flex;
  justify-content: space-around;
}

.header__icon {
  width: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__logo {
  height: 7rem;
  width: 7rem;
}