.menu__container .menu__header {
  height: 4.7rem;
  display: flex;
  justify-content: space-around;

  background: var(--color-secondary-dark);
  border-bottom: 2px solid var(--color-primary);
}

.menu__container .menu__header .menu__social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4.5rem;
}

.menu__container .menu__header .menu__social .menu__icon {
  width: 3.3rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.menu__container .menu__header .menu__logo {
  height: 7rem;
  width: 7rem;
  margin-top: 1rem;
}