.menu-container {
  width: 100vw;
}

.menu-container header {
  height: 60px;
  display: flex;
  justify-content: space-around;

  background: var(--color-secondary-dark);
  border-bottom: 4px solid var(--color-primary);
}

.menu-container header .social {
  display: flex;
  align-items: center;
}

.menu-container header .social img {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.menu-container header .logo img {
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.menu-container nav {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-secondary);
}

.menu-container nav a {
  text-decoration: none;
  margin: 10px;

  color: var(--color-text-in-primary);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 4px solid var(--color-primary);

  color: var(--color-text-in-primary);
  background: var(--color-secondary-dark);
}

.footer-container footer img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}