.nav {
  height: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-secondary);
}

.nav__link {
  text-decoration: none;
  margin: 10px;

  color: var(--color-text-in-primary);
}